@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*::selection {
    background-color: var(--pink-color);
    color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #777777;
    --title-color: #1E1E1E;
    --pink-color: #FF589E;
    --primary-color: #8261EE;
}


/* Start Box Header  */

.box-header__title {
    font-size: 2.8rem;
    color: var(--white-color);
    margin: 45px 0px 24px 0px;
    text-align: center;
}

.box-header__desc {
    text-align: center;
    width: 580px;
    color: var(--white-color);
    margin: auto;
    font-size: 1.6rem;
    margin-bottom: 45px;
}

/* End Box Header  */

.deleted {
    text-decoration-line: line-through;
}