*::selection {
    background-color: var(--pink-color);
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
}

/* Start Header  */

.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    background-color: transparent;
}

.header__inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header__inner-img {
    margin-left: 30px;
}

.header__inner-list {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
}

.header__inner-item {
    padding: 12px 18px;
}

.header__inner-link {
    color: var(--title-color);
    display: block;
    padding: 8px;
    font-size: 1.3rem;
    text-decoration: none;
    line-height: 3;
    transition: .5s;
}

.header__inner-link:hover {
    color: var(--pink-color);
    text-decoration: none;
    transition: .5s;
}

/* End Header  */


/* Start Banner */

.banner {
    background-image: url('../img/banner-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--white-color);
    position: relative;
}

.banner__inner-main {
    text-align: center;
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
}

.banner__inner-title {
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 0px 250px;
    line-height: 1.3;
}

.banner__inner-desc {
    font-size: 1.3rem;
    margin: 30px 0px;
    font-size: 1.4rem;
    padding: 0px 280px;
}

.banner__inner-button {
    background-color: var(--pink-color);
    color: var(--white-color);
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1.3rem;
    display: block;
    margin: auto;
    border-radius: 20px;
    transition: .5s;
}

.banner__inner-button:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    transition: .5s;
}

/* End Banner */


/* Start About  */

.about {
    margin-top: -180px;
}

.about__inner-box {
    padding: 25px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    text-decoration: none;
    text-align: center;
}

.about__inner-box:hover {
    text-decoration: none;
}

.about__inner-box:hover .about__inner-avatar {
    background-color: var(--pink-color);
    transition: .5s;
}

.about__inner-avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position: relative;
    margin: auto;
    transition: .5s;
}

.about__inner-img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about__inner-title {
    margin: 30px 0px 18px;
    color: var(--title-color);
    letter-spacing: 1px;
}

.about__inner-desc {
    font-size: 1.3rem;
    color: var(--text-color);
    margin: 0;
}

/* End About  */


/* Start Section  */

.section > .container > .row {
    padding: 100px 0px;
}

.section > .container > .row:first-child {
    border-bottom: 1px solid #ddd;
}

.section > .container > .row:last-child > .col-xl-6:first-child {
    order: 1;
}

.section__inner-img > img {
    display: block;
    margin: 0px auto;
}

.section__inner-title {
    margin: 35px 0px;
    font-size: 2.6rem;
}

.section__inner-desc {
    font-size: 1.8rem;
    color: var(--text-color);
}

/* End Section  */


/* Start Process  */

.process {
    padding-top: 70px;
    padding-bottom: 120px;
    background-image: url('../img/work-process-bg.png');
}

.process__inner-box {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    text-align: center;
    padding: 14px;
    border-radius: 24px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.process__inner-box:hover {
    text-decoration: none;
    transition: all 0.3s ease 0s;
    margin-top: -5px;
}

.process__inner-shadow {
    position: relative;
}

.process__inner-shadow > div {
    background-color: #AB7BDD;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 10px;
    z-index: 0;
}

.process__inner-logo {
    color: var(--pink-color);
    font-size: 3.5rem;
}

.process__inner-title {
    margin: 12px 0px 8px 0px;
    font-size: 1.7rem;
    color: var(--title-color);
}

.process__inner-desc {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* End Process  */


/* Start Ask  */

.ask {
    padding: 70px 0px 120px 0px;
}

.ask .box-header .box-header__title {
    color: var(--title-color);
}

.ask .box-header .box-header__desc {
    color: var(--text-color);
}

.ask__member-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 26px;
}

.ask__member-box:hover > .ask__member-people .ask__member-info {
    margin-left: 40px;
    transition: all 0.3s ease 0s;
}

.ask__member-logo {
    
}

.ask__member-logo img {
    display: block;
    margin: auto;
}

.ask__member-content {
    color: var(--text-color);
    line-height: 1.6;
    font-size: 1.5rem;
    margin: 25px 0px;
}

.ask__member-people {
    display: flex;
    align-items: center;
}

.ask__member-avatar {
    width: 60px;
    height: 60px;
}

.ask__member-avatar img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.ask__member-info {
    transition: all 0.3s ease 0s;
    margin-left: 24px;
}

.ask__member-name {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--title-color);
}

.ask__member-job {
    margin: 8px 0px 0px 0px;
    font-size: 1.6rem;
    color: var(--pink-color);
}


/* End Ask  */